<style type="text/css">
table.empTable { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px; 
border-collapse: 
collapse; border-spacing: 0; 
}

td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */
</style>

<!--<b>Home Page</b>
Hello {{userName}}-->

<section class="container">
<div class="editEmp">
  <h2>Employee Table</h2>
  <div><a href="/#/add">Add Employee</a></div>
  <div>
  	<select ng-model="sortOrder" id="sortOption">
  		<option value="fullname">Name</option>
  		<option value="email">Email</option>
  		<option value="age">Age</option>
  		<option value="gender">Gender</option>
  	</select>
  </div>
  <table class="empTable">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Education</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | orderBy : sortOrder">
        <td title="click to edit" ng-click="edit(this)">{{employee.fullname}}</td>
        <td title="click to edit" ng-click="edit(this)">{{employee.email}}</td>
        <td title="click to edit" ng-click="edit(this)">{{employee.age}}</td>
        <td title="click to edit" ng-click="edit(this)">{{employee.gender}}</td>
        <td title="click to edit" ng-click="edit(this)">{{employee.education}}</td>
        <td custom-alert="Are you sure you want to delete this?" ng-click="delete(this)"><button >Delete</button></td>
      </tr>      
    </tbody>
  </table>
</div>
</section>

